@{
    ViewData["Title"] = "FTN Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tunnistautuminen epäonnistui.</h1>
    <p>Tunnistautuminen epäonnistui, sinut ohjataan takaisin sovellukseen..</p>
</div>
